<body>
<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <h1 class="display-4">Low, slow and useless</h1>
            <p class="lead">
              Style is everything.

              We are petrolheads with acrophobia <sup>x</sup> We are lowering everything.
              Static is a state of mind.
              </p>
            <hr class="my-4">
            <p>Get into our world!</p>
            <a class="btn btn-danger" href="#" id="butonik" role="button" [routerLink]="['/products']">Learn low</a>
          </div>
          <div class="col-xl-2"></div>


        </div>
      </div>
    </div>
      <video src="http://217.182.75.208/video.mp4"
        [autoplay]="true" [muted]="true" [loop]="true" playsinline>
      </video>

  </div>
</div>

</body>
