<div class="row no-gutters" id="productpage">
<div class="row">
  <div class="column">



    <img src="assets/1.png">
    <img src="assets/1.png">
    <img src="assets/1.png">
  </div>

    <div class="column">
      <img src="assets/1.png">
      <img src="assets/1.png">
      <img src="assets/1.png">
    </div>


      <div class="column">
        <img src="assets/1.png">
        <img src="assets/1.png">
        <img src="assets/1.png">
      </div>

  <div class="column">
    <img src="assets/1.png">
    <img src="assets/1.png">
    <img src="assets/1.png">
  </div>

 </div>
</div>
